/*Fondo de la pagina */
body {
    background-image: url('imagenes/fondo.jpg');
}


/* Estilo del modal principal */
#modal_project
{
    background-color: white;
    padding: 50px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Estilo del contenido del modal */
#modal_contenido
{
    /* Para que no se mueva de su posicion top y left en la pantalla */
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* para crear diseños flexibles y responsivos, donde los elementos se ajustan dinámicamente a 
    los diferentes tamaños de pantalla y dispositivos.*/
    display: flex;
    /* Lo pone al medio de la pagina */
    justify-content: center;
    align-items: center;
    /* Separa cada etiqueta en cada linea */
    flex-direction: column;
    z-index: 9999;


}

/* Oculta el contenido del modal por defecto */
#modal_contenido.modal_oculto
{
    display: none;
}

/* Estilo del contenido dentro del modal */
#contenido
{
    padding: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
